extends _layout.jade
block main
	section.photos.pt
		.container
			.photos__wrap
				.photos__title
					h1.h1.title
						| Photos of happy students
				.photos__img
					img.flex-img(src="img/people-7.jpg", alt="")
					img.flex-img(src="img/people-3.jpg", alt="")
					img.flex-img(src="img/people-6.jpg", alt="")
					.obertka
						img.flex-img.obertka-item(src="img/people-5.jpg", alt="")
						img.flex-img.obertka-item(src="img/people-4.jpg", alt="")
					img.flex-img(src="img/people-1.jpg", alt="")
					img.flex-img(src="img/people-2.jpg", alt="")

